body { font: 12px Helvetica; margin:0; padding:0; overflow: hidden;}
#map { position:absolute; top:0; bottom:0; width:100vw; height: 100vh;}
#slider { 
    display: block;
    position: absolute; 
    left: 0;
    right: 0;
    height:80px; 
    bottom:25px; 
    width:calc( 100% - 50px ); 
    margin: auto;
    background-color: black;
    opacity: 0.95;
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(135, 135, 135, 0.06);

}
#charts { 
    display: flex;
    flex-flow: column;
    position: absolute; 
    left: 0;
    right: 0px;
    height:calc( 100vh - 155px); 
    bottom:25px; 
    min-width: 180px;
    width: 40vw;
    max-width: 250px; 
    margin-top: auto;
    margin-bottom: 105px;
    margin-right: 25px;
    margin-left: auto;
    background-color: black;
    opacity: 0.95;
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(135, 135, 135, 0.06);
}
#bars { 
    flex: 1 1 auto;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    opacity: 0.95;
    border-radius: 10px;
    -ms-overflow-style: none;
    padding-top: 2rem;
}

.bar {
    padding: 0px 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#bars::-webkit-scrollbar {
    display: none;
  }
  

#text { 
    flex: 0 1 auto;
    left: 0px;
    right: 0px;
    bottom: 0;
    padding: 2em 0;
    opacity: 0.95;
    border-radius: 10px;
}
hr {
    border: 0px;
    border-top: 1px solid white;
    opacity: 0.1;
    width: 80%;
    margin: auto;
}
#text p {
    color:lightgrey;
    padding: 0 2em;
    min-height: 1em;
    margin: 0.2em auto;
}
p {
    color:lightgrey;
    padding: 0 0em;
    min-height: 1em;
    margin: 0.2em auto;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }